# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\citynow\download\Source-code-New-Spring-5-Multi-module-Spring-Project_-Project-Setup\guess-the-number-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
